flows.json
[{"id":"270eb8d3.9d2b48","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"9efdfd66.488cb8","type":"template","z":"270eb8d3.9d2b48","name":"ClientData","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"","output":"json","x":770,"y":500,"wires":[[]]},{"id":"4a19f2a.c24258c","type":"http in","z":"270eb8d3.9d2b48","name":"Get Client ","url":"/getClient","method":"get","upload":false,"swaggerDoc":"","x":100,"y":220,"wires":[["13d90632.fad02a"]]},{"id":"ad6ba377.be878","type":"http response","z":"270eb8d3.9d2b48","name":"Response-JSON","statusCode":"","headers":{"content-type":"application/json"},"x":810,"y":280,"wires":[]},{"id":"fa01d0dc.b5d46","type":"json","z":"270eb8d3.9d2b48","name":"JsonData","property":"payload","action":"","pretty":true,"x":560,"y":340,"wires":[["ad6ba377.be878"]]},{"id":"574ebdf0.677e34","type":"function","z":"270eb8d3.9d2b48","name":"TriptoAWS","func":"msg.payload = msg.payload.data\n\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":540,"wires":[["fa01d0dc.b5d46"]]},{"id":"4274aee4.838218","type":"mysql","z":"270eb8d3.9d2b48","mydb":"df87d63f.3b8c28","name":"pintake","x":140,"y":380,"wires":[["f2ba20e1.3e59a8"]]},{"id":"13d90632.fad02a","type":"function","z":"270eb8d3.9d2b48","name":"TriptoAWS","func":"msg.topic = \"SELECT * FROM ProfileDataContact Where ProfileID = (Select max(ProfileID) from ProfileDataContact);\"\nreturn msg;","outputs":1,"noerr":0,"x":190,"y":280,"wires":[["4274aee4.838218"]]},{"id":"f2ba20e1.3e59a8","type":"change","z":"270eb8d3.9d2b48","name":"","rules":[{"t":"set","p":"payload.data","pt":"msg","to":"$string(payload)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":280,"y":460,"wires":[["574ebdf0.677e34"]]},{"id":"15918d67.8921db","type":"function","z":"270eb8d3.9d2b48","name":"TriptoAWS-Concat","func":"msg.payload = '{\"ClientName\":'+ '\"'+ msg.payload.data+'\"}'\n\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":620,"wires":[[]]},{"id":"df87d63f.3b8c28","type":"MySQLdatabase","z":"","name":"Code2020","host":"mysql-code2020-db1.cngsuwoginmf.us-east-1.rds.amazonaws.com","port":"3306","db":"wcadb1","tz":"UTC"}]